<div class='col-sm-8'>
  <%= simple_form_for model, method: method do |f| %>
    <%= f.input :title, required: true, minlength: 2, 
        placeholder: attribute_model(Question.new, :title), 
        input_html: { class: 'mb-2' } %>
    <%= f.input :body, required: true, minlength: 2, 
        placeholder: attribute_model(Question.new, :body), 
        input_html: { class: 'mb-2' } %>
    <%= f.button :submit, f.object.new_record? ? t('submit.new') :
         t('submit.edit'), class: "btn btn-primary mt-2" %> 
    <%= render partial: 'shared/cancel_button', 
      locals: { path: question_path(f.object) } if f.object.persisted? %>	
  <% end %>
</div>
