<section class='container'>
  <% provide :page_title, @question.title %>
  <% currently_at %>
  
  <%= render partial: 'shared/go_back_button', locals: { path: questions_path } %>

  <h1 class='mb-4'><%= @question.title %></h1>
  <p>
    <time datetime="<%= @question.formatted_created_at %>">
      <%= @question.formatted_created_at %>
    </time>
  </p>
  <div class='lead my-3'>
    <%= sanitize @question.body %>
  </div>
  <div class='mb-3'>
    <%= @question.user.gravatar %>
    <%= attribute_model(@question, :user) %>
    <strong><%= @question.user.name_or_email %></strong>
  </div>

  <% if user_signed_in? && current_user == @question.user %>
    <div class='border-top border-bottom py-3'>
      <div class="btn-group" role="group">
        <%= link_to t('link.edit'), edit_question_path(@question), 
            class: 'btn btn-secondary me-2' %>
        <%= button_to t('submit.destroy'), question_path(@question), 
            method: :delete, class: "btn btn-danger", 
            :onclick => "return confirm('Are you sure?')", :remote => true %>
      </div>
    </div> 
  <% end %>

</section>
<hr class='my-3'>
<section class='col-8'>
  <% if user_signed_in? %>
    <%= render partial: 'answers/form', locals: { model: [@question, @answer], method: :post } %>
  <% end %>
  
  <% if @answers.try(:any?) %>
  
    <div class='my-4'>
      <%== pagination @pagy %>
    </div>

    <h2 class='mt-4'><%= i18n_model_name(@answer, 2) %></h2>
    <%= render @answers %>
  
    <div class='my-4'>
      <%== pagination @pagy %>
    </div>
  <% end %> 
</section>