<section class='col-6'>
  <% provide :page_title, t('menu.sign_in') %>
  <% currently_at t('menu.sign_in') %>
  
  <%= render partial: 'shared/go_back_button', locals: { path: root_path } %>
  <h1 class='md-4'><%= t('.title') %></h1>

  <%= simple_form_for :session, url: session_path, method: :post, id: 'new_session' do |f| %>
    <%= f.input :email, required: true, value: params[:email],
        placeholder: attribute_model(User.new, :email), 
        input_html: { class: 'mb-2' } %>
    <%= f.input :password, required: true, 
        placeholder: attribute_model(User.new, :password), 
        input_html: { class: 'mb-2' } %>
    <%= f.input :remember_me, as: :boolean %>
    <%= f.button :submit, t('submit.log_in'), class: "btn btn-primary mt-2" %> 
    <%= link_to t('.form.forgot_password'), new_password_reset_path,
        class: 'btn btn-secondary mt-2' %>
  <% end %>
</section>
