<%= provide :main_menu do %>
  <header class="bg-dark text-white">
    <div class='container'>
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class="nav-item">
              <%= nav_tab t('page.home'), root_path, class: "nav-link px-4", 
                current_page: current_page %>
            </li>
            <li class="nav-item">
              <%= nav_tab i18n_model_name(Question.new, count: 2), 
                questions_path, class: "nav-link px-4", current_page: current_page %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= nav_tab t('page.new', model: i18n_model_name(Question.new).downcase), 
                  new_user_question_path(current_user), class: "nav-link px-4", current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_tab t('nav.sign_out'), sign_out_path, 
                'data- turbo_method': :delete, :onclick => "return confirm('Are you sure?')", 
                :remote => true, class: "nav-link px-4", current_page: current_page %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= nav_tab t('nav.sign_in'), sign_in_path, class: "nav-link px-4",
                  current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_tab t('nav.sign_up'), sign_up_path, class: "nav-link px-4",
                  current_page: current_page %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>
<% end %>