<article class='mb-3 card' id="answer-<%= answer.id %>">
  <div class='card-body'>
    <section class='card-text'>
      <p>
        <small>
          <time datetime="<%= answer.formatted_created_at %>">
            <%= answer.formatted_created_at %>
          </time>
        </small>
        <%= attribute_model(answer, :user) %>
        <strong><%= answer.user.username %></strong>
      </p>
      <div class='mt-2 mb-3'>
        <strong><%= attribute_model(answer, :body) %></strong>
        <%= sanitize answer.body %>
      </div>
    </section>

    <% if user_signed_in? && current_user == answer.user %>
      <div class="btn-group" role="group">
        <%= link_to t('link.edit', model: i18n_model_name(answer).downcase), edit_answer_path(answer),
        class: "btn btn-secondary me-2 btn-sm" %>
        <%= button_to t('button.destroy', model: i18n_model_name(answer).downcase), 
          answer_path(answer), method: :delete, class: "btn btn-danger me-2 btn-sm", 
          :onclick => "return confirm('Are you sure?')", :remote => true %>
      </div>
    <% end %>
  </div>
</article>