<% provide :page_title, t('menu.admin_page') %>
<% currently_at t('menu.admin_page') %>

<h1 class='mb-4'><%= t('.title') %></h1>

<div class='btn-group mb-3'>
  <%= link_to t('link.zip'), admin_users_path(format: :zip), class: "btn btn-primary mt-2", data: {confirm: t('dialogue.you_sure')} %>
</div>

<table id='customers'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'><%= attribute_model(User.new, :username) %></th>
      <th scope='col'><%= attribute_model(User.new, :email) %></th>
      <th scope='col'><%= attribute_model(User.new, :role) %></th>
      <th scope='col'><%= attribute_model(User.new, :created_at) %></th>
      <th scope='col'></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%== pagination @pagy %>

<h2 class='my-3'><%= t('.upload') %></h2>

<%= form_with url: admin_users_path do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :archive, t('.upload_form.archive') %>
    </div>

    <div class="col-sm-10">
      <%= f.file_field :archive, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit t('submit.upload'), class: 'btn btn-primary' %>
<% end %>